
/* CSS ASLI */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  color: white;
  width: 124px;
  margin-top: 20px;
  padding-left: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right li {
  float: left;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.container {
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(background.jpg);
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper h2 {
  opacity: 0.5;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper h3 {
  opacity: 0.7;
  font-size: 15px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

#content {
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.skills {
  text-align: center;
}

.skill {
  float: left;
  width: 33%;
}

.skill-icon {
  position: relative;
}

.skill-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

article {
  padding-top: 600px;
  padding-bottom: 30px;
}

.contact-title {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
  font-weight: normal;
}

.contact-form {
  padding-top: 100px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

aside {
  padding: 0 10px ;
  background-color:whitesmoke;
  float: right;
  width: 25%;
}

figure {
  width: 25%;
}

footer {
  background-color: #1e3544;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
